Repository greenCircuit/pipeline-catalog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: img-k8s, img-base, semver-img

.gitlab-ci.yml:

variables:
  MAKE_RELEASE: "false"  # will be overwritten by semver job
  SEMVER: "0.0.1"


include:
  - pipelines/stages.yaml
  - pipelines/build.yaml
  - pipelines/k8s.yaml
  - pipelines/security.yaml
  - pipelines/template.yml
  - pipelines/release.yaml

# running all pipelines in order to validate them
# Creating pipeline images
img-k8s:
  extends: .create_image
  variables:
    FILE_PATH: "containerfiles/Dockerfile.k8s"
    REGISTRY_PATH: "k8s"
  rules:
    - changes: ["containerfiles/Dockerfile.k8s"]

img-base:
  extends: .create_image
  variables:
    FILE_PATH: "containerfiles/Dockerfile"
    REGISTRY_PATH: ""
  rules:
    - changes: ["containerfiles/Dockerfile"]
    
semver-img:
  extends: .create_image
  variables:
    FILE_PATH: "containerfiles/Dockerfile.semver"
    REGISTRY_PATH: "semver"
  rules:
    - changes: ["containerfiles/Dockerfile.semver"]

# these helm charts should pass
passing-helm:
  extends: .check-helm
  parallel:
    matrix: 
    - CHECK_PATH: 
      - "test-data/helm/correct-hc"
      - "test-data/helm/crd-chart"

# these helm chart should fail
failing-helm:
  extends: .check-helm
  parallel:
    matrix: 
    - CHECK_PATH: 
      - "test-data/helm/wrong-spec"
      - "test-data/helm/wrong-template"
  allow_failure: true

git-leaks:
  extends: .secrets_scan

semver-dry-run:
  variables:
    GIT_DEPTH: "0" 
    GL_TOKEN: $CI_JOB_TOKEN
  image: registry.dev.local/home-lab/pipeline-catalog/semver:latest
  stage: semver
  script: |
    npx semantic-release --dry-run --branches $CI_COMMIT_REF_NAME
    env


# semver:
#   extends: .make-semver

# check-semver:
#   needs: [semver]
#   image: registry.dev.local/home-lab/pipeline-catalog:latest
#   stage: semver 
#   script: | # shell
#     env | grep SEMVER
#     env | grep MAKE_RELEASE
#     if [[ $SEMVER == "" || $MAKE_RELEASE == "" ]]; then
#       echo semver job didnt provide env variables
#     fi
#     echo semver creation job was correct

# create-changelog:
#   extends: .changelog
#   variables:
#     version: "${SEMVER}"

# tag-repo:
#   extends: .create-tag
#   variables:
#     GIT_TAG: "${SEMVER}"

semantic release
  .gitlab-ci.yml
  containerfiles/Dockerfile.semver
  containerfiles/data/package.json
Due: semver-img

semantic release
  .gitlab-ci.yml
Due: none

semantic release
  containerfiles/Dockerfile.semver
Due: semver-img

semantic release
  pipelines/build.yaml
Due: none

semantic release
  .gitlab-ci.yml
  containerfiles/Dockerfile.semver
Due: semver-img

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

adding buildah to img
  containerfiles/Dockerfile
Due: img-base

saving
  .gitlab-ci.yml
  addRemote.sh
Due: none

adding scope and fuse-overlayfs
  containerfiles/Dockerfile
Due: img-base

trying release dry run
  .gitlab-ci.yml
  containerfiles/data/package.json
  pipelines/release.yaml
Due: none

trying release dry run
  pipelines/release.yaml
Due: none

trying release dry run
  .releaserc.yaml
  pipelines/release.yaml
Due: none

trying release dry run
  .gitlab-ci.yml
  pipelines/release.yaml
Due: none

trying release dry run
  pipelines/build.yaml
  pipelines/release.yaml
Due: none

fix: generating release
  pipelines/build.yaml
  pipelines/release.yaml
Due: none

fix: generating release
  pipelines/release.yaml
Due: none

fix: generating release
  .releaserc.yaml
Due: none
