Repository greenCircuit/pipeline-catalog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: img-k8s, img-base, semver-img

.gitlab-ci.yml:

variables:
  MAKE_RELEASE: "false"  # will be overwritten by semver job
  SEMVER: "0.0.1"


include:
  - pipelines/stages.yaml
  - pipelines/build.yaml
  - pipelines/k8s.yaml
  - pipelines/security.yaml
  - pipelines/template.yml
  - pipelines/release.yaml

# running all pipelines in order to validate them
# Creating pipeline images
img-k8s:
  extends: .create_image
  variables:
    FILE_PATH: "containerfiles/Dockerfile.k8s"
    REGISTRY_PATH: "k8s"
  rules:
    - changes: ["containerfiles/Dockerfile.k8s"]

img-base:
  extends: .create_image
  variables:
    FILE_PATH: "containerfiles/Dockerfile"
    REGISTRY_PATH: ""
  rules:
    - changes: ["containerfiles/Dockerfile"]
    
semver-img:
  extends: .create_image
  variables:
    FILE_PATH: "containerfiles/Dockerfile.semver"
    REGISTRY_PATH: "semver"
  rules:
    - changes: ["containerfiles/Dockerfile.semver"]

# these helm charts should pass
passing-helm:
  extends: .check-helm
  parallel:
    matrix: 
    - CHECK_PATH: 
      - "test-data/helm/correct-hc"
      - "test-data/helm/crd-chart"

# these helm chart should fail
failing-helm:
  extends: .check-helm
  parallel:
    matrix: 
    - CHECK_PATH: 
      - "test-data/helm/wrong-spec"
      - "test-data/helm/wrong-template"
  allow_failure: true

git-leaks:
  extends: .secrets_scan

semver-dry-run:
  variables:
    GIT_DEPTH: "0" 
    GL_TOKEN: $CI_JOB_TOKEN
  image: registry.dev.local/home-lab/pipeline-catalog/semver:latest
  stage: semver
  script: |
    npx semantic-release --dry-run --branches $CI_COMMIT_REF_NAME
    env


# semver:
#   extends: .make-semver

# check-semver:
#   needs: [semver]
#   image: registry.dev.local/home-lab/pipeline-catalog:latest
#   stage: semver 
#   script: | # shell
#     env | grep SEMVER
#     env | grep MAKE_RELEASE
#     if [[ $SEMVER == "" || $MAKE_RELEASE == "" ]]; then
#       echo semver job didnt provide env variables
#     fi
#     echo semver creation job was correct

# create-changelog:
#   extends: .changelog
#   variables:
#     version: "${SEMVER}"

# tag-repo:
#   extends: .create-tag
#   variables:
#     GIT_TAG: "${SEMVER}"

chore(release): bump version to 1.1.3 [skip ci]
  CHANGELOG.md
Due: none

testing image tagging
  .gitlab-ci.yml
  .releaserc.yaml
Due: none

fix: building images with tags that contain release tag
  pipelines/build.yaml
Due: none

chore(release): bump version to 1.1.4 [skip ci]
  CHANGELOG.md
Due: none

fixing release again
  pipelines/build.yaml
  pipelines/release.yaml
Due: none

fixing release again
  pipelines/release.yaml
Due: none

fix: use BUILS_VERSION for build versions
  pipelines/release.yaml
Due: none

fix: use BUILS_VERSION for build versions, adding release job to pipeline
  .gitlab-ci.yml
  pipelines/release.yaml
Due: none

chore(release): bump version to 1.1.5 [skip ci]
  CHANGELOG.md
Due: none

adding k8s crd schema validation
  .gitlab-ci.yml
  containerfiles/Dockerfile.k8s
  pipelines/k8s.yaml
  test-data/k8s-manifests/invalid/cert-manager.yaml
  test-data/k8s-manifests/invalid/fluxcd.yaml
  test-data/k8s-manifests/invalid/istio.yaml
  test-data/k8s-manifests/invalid/prometheus-operator.yaml
  test-data/k8s-manifests/valid/cert-manager.yaml
  test-data/k8s-manifests/valid/fluxcd.yaml
  test-data/k8s-manifests/valid/istio.yaml
  test-data/k8s-manifests/valid/prometheus-operator.yaml
  test-data/test-pipelines/test-k8s.yaml
Due: img-k8s

adding k8s crd schema validation
  pipelines/k8s.yaml
Due: none

feat: adding schema validation for custom resources
  pipelines/k8s.yaml
Due: none

feat: adding schema validation for custom resources
  containerfiles/Dockerfile.k8s
Due: img-k8s

chore(release): bump version to 1.2.0 [skip ci]
  CHANGELOG.md
Due: none

fix: generating BUILD_VERSION for branches builds
  .gitlab-ci.yml
  containerfiles/Dockerfile.semver
  pipelines/release.yaml
Due: semver-img

fix: adding BUILD_IMAGE for branch version
  containerfiles/Dockerfile.semver
Due: semver-img

chore(release): bump version to 1.2.1 [skip ci]
  CHANGELOG.md
Due: none

kustomization test
  test-data/k8s-manifests/kustomization/missing-manifests/kustomization.yaml
  test-data/k8s-manifests/kustomization/valid/deployment.yaml
  test-data/k8s-manifests/kustomization/valid/kustomization.yaml
  test-data/k8s-manifests/kustomization/valid/service.yaml
  test-data/k8s-manifests/kustomization/wrong-spec/kustomization.yaml
  test-data/test-pipelines/test-k8s.yaml
Due: none

kustomization test
  containerfiles/Dockerfile.k8s
Due: img-k8s

kustomization test
  pipelines/k8s.yaml
Due: none

kustomization test
  .gitlab-ci.yml
Due: none
